/* Partial reset of styles (START) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

@media screen and (max-width: 414px) {
  html {
    font-size: 8px;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0 5px;
    width: 100%;
  }
}
/* Partial reset of styles (END) */

/* Unique custom classes (START) */
.col,
.row,
.col-2-8 {
  display: grid;
  grid-gap: 10px;
}

.col {
  grid-template-columns: 1fr 1fr;
}

.col-2-8 {
  grid-template-columns: 2fr 8fr;
}

.accent {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  color: #99cc00;
}
/* Unique custom classes (END) */

/* section header (START) */
header {
  margin: 2% 0 4%;
}

.title > h1 {
  margin: 0;
  font-size: 4.2rem;
  color: #7f9bd0;
}
/* section header (END) */

/* section profile (START) */
.profile {
  grid-gap: 5vh;
}

.image_avatar > img {
  width: 150px;
}

@media screen and (max-width: 1168px) {
  .image_avatar > img {
    width: 120px;
  }
}
@media screen and (max-width: 768px) {
  .image_avatar > img {
    width: 90px;
  }
}
@media screen and (max-width: 414px) {
  .image_avatar > img {
    width: 80px;
  }
}

.image_description > h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
  color: #434343;
}

.image_description > p {
  font-size: 2.2rem;
  font-weight: 100;
  color: #434343;
}
